
@font-face {
	font-family: "Noto Sans JP";
	font-style:normal;
	font-weight:400;
	font-display:swap;
	src: 
	  url('/fonts/NotoSans_Regular.woff2') format('woff2'), 
	  url('/fonts/NotoSans_regular.woff') format('woff'),
	  url('/fonts/NotoSans_regular.ttf') format('truetype');
  }
  
  @font-face {
	font-family: "Noto Sans JP";
	font-style:normal;
	font-weight:700;
	font-display:swap;
	src: 
	  url('/fonts/NotoSans_Bold.woff2') format('woff2'), 
	  url('/fonts/NotoSans_bold.woff') format('woff'),
	  url('/fonts/NotoSans_bold.ttf') format('truetype');
  }
  
  
  @font-face {
	font-family: "Lato";
	font-style:normal;
	font-weight:400;
	font-display:swap;
	src: 
	  url('/fonts/lato-v15-latin-regular.woff2') format('woff2'), 
	  url('/fonts/lato-v15-latin-regular.woff') format('woff'),
	  url('/fonts/lato-v15-latin-regular.ttf') format('truetype');
  }
  
  @font-face {
	font-family: "Lato";
	font-style:normal;
	font-weight:700;
	font-display:swap;
	src: 
	  url('/fonts/lato-v15-latin-700.woff2') format('woff2'), 
	  url('/fonts/lato-v15-latin-700.woff') format('woff'),
	  url('/fonts/lato-v15-latin-700.ttf') format('truetype');
  }

html{
	font-size: 62.5%;
	height:100%;
	}
	
body {
		font-family:$body-font;
		padding:0;
		margin:0;
		padding:1em;
		color:#333;
		height:100vh;
		background-color:#F4F4F4;
}

.wrapper{
	width:1100px;
	margin:0 auto;
}

.grid_wrap{
	display:grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 10px;

	.box{
		padding:20px 10px;
		background-color:#fff;

		h2{
			color:#333;
			font-size:24px;
		}
	}
}



